@model ProductVM

<section class="product-area pt-100 pb-100">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="product-menu pb-30">
                    <ul class="nav justify-content-center" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="active" id="new-tab" data-toggle="tab" href="#new" role="tab" aria-controls="new" aria-selected="true">New Arrival</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a id="bestseller-tab" data-toggle="tab" href="#bestseller" role="tab" aria-controls="bestseller" aria-selected="false">Bestseller</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a id="featured-tab" data-toggle="tab" href="#featured" role="tab" aria-controls="featured" aria-selected="false">Featured</a>
                        </li>
                    </ul>
                </div> <!-- product menu -->
            </div>
        </div> <!-- row -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="new" role="tabpanel" aria-labelledby="new-tab">
                <div class="product-items">
                    <div class="row product-active">
                        @for (int i = 0; i < (int)Math.Ceiling((double)(Model.NewArrivals.Count() / 2)); i++)
                        {
            <div class="col-lg-2">
                @foreach (Product product in Model.NewArrivals.Skip(i * 2).Take(2))
                {

<div class="single-product mt-30">
    <div class="product-image">
        <a href="single-product.html">
            @if (product.HoverImage != null)
            {
<img class="first-image" src="~/assets/images/product/@product.MainImage" alt="product">
                        <img class="second-image" src="~/assets/images/product/@product.HoverImage" alt="product"> }
                    else
                    {
<img class="first-image" src="~/assets/images/product/@product.MainImage">}
            @if (product.DiscountedPrice > 0)
            {
<span class="discount-product">-@(((product.Price*100)/product.DiscountedPrice)-100)%</span>}

        </a>
        <ul class="product-meta">
            <li><a href="#"><i class="icon ion-bag"></i></a></li>
            <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
            <li><a href="#"><i class="icon ion-android-options"></i></a></li>
            <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
        </ul>
    </div>
    <div class="product-content">
        <ul class="product-rating">
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
        </ul>
        <h4 class="product-title"><a href="single-product.html">@product.Title</a></h4>
        <div class="product-price">
            @if (product.DiscountedPrice > 0)
            {
<span class="regular-price">@product.DiscountedPrice</span>
                        <span class="price-sale">@product.Price</span> }
                    else
                    {
<span class="price-sale">@product.Price</span>}
        </div>
    </div>
</div> <!-- single product -->}
            </div>}


                    </div> <!-- row -->
                </div> <!-- product items -->
            </div>
            <div class="tab-pane fade" id="bestseller" role="tabpanel" aria-labelledby="bestseller-tab">
                <div class="product-items">
                    <div class="row product-active">
                        @for (int i = 0; i < (int)Math.Ceiling((double)(Model.BestSellers.Count() / 2)); i++)
                        {
            <div class="col-lg-2">
                @foreach (Product product in Model.BestSellers.Skip(i * 2).Take(2))
                {

<div class="single-product mt-30">
    <div class="product-image">
        <a href="single-product.html">
            @if (product.HoverImage != null)
            {
<img class="first-image" src="~/assets/images/product/@product.MainImage" alt="product">
                        <img class="second-image" src="~/assets/images/product/@product.HoverImage" alt="product"> }
                    else
                    {
<img class="first-image" src="~/assets/images/product/@product.MainImage" alt="product">}
            @if (product.DiscountedPrice > 0)
            {
<span class="discount-product">-@(((product.Price*100)/product.DiscountedPrice)-100)%</span>}

        </a>
        <ul class="product-meta">
            <li><a href="#"><i class="icon ion-bag"></i></a></li>
            <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
            <li><a href="#"><i class="icon ion-android-options"></i></a></li>
            <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
        </ul>
    </div>
    <div class="product-content">
        <ul class="product-rating">
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
        </ul>
        <h4 class="product-title"><a href="single-product.html">@product.Title</a></h4>
        <div class="product-price">
            @if (product.DiscountedPrice > 0)
            {
<span class="regular-price">@product.DiscountedPrice</span>
                        <span class="price-sale">@product.Price</span> }
                    else
                    {
<span class="price-sale">@product.Price</span>}
        </div>
    </div>
</div> <!-- single product -->}
            </div>}


                    </div> <!-- row -->
                </div> <!-- product items -->
            </div>
            <div class="tab-pane fade" id="featured" role="tabpanel" aria-labelledby="featured-tab">
                <div class="product-items">
                    <div class="row product-active">
                        @for (int i = 0; i < (int)Math.Ceiling((double)(Model.Featured.Count() / 2)); i++)
                        {
            <div class="col-lg-2">
                @foreach (Product product in Model.Featured.Skip(i * 2).Take(2))
                {

<div class="single-product mt-30">
    <div class="product-image">
        <a href="single-product.html">
            @if (product.HoverImage != null)
            {
<img class="first-image" src="~/assets/images/product/@product.MainImage" alt="product">
                        <img class="second-image" src="~/assets/images/product/@product.HoverImage" alt="product"> }
                    else
                    {
<img class="first-image" src="~/assets/images/product/@product.MainImage" alt="product">}
            @if (product.DiscountedPrice > 0)
            {
<span class="discount-product">-@(((product.Price*100)/product.DiscountedPrice)-100)%</span>}

        </a>
        <ul class="product-meta">
            <li><a href="#"><i class="icon ion-bag"></i></a></li>
            <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
            <li><a href="#"><i class="icon ion-android-options"></i></a></li>
            <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
        </ul>
    </div>
    <div class="product-content">
        <ul class="product-rating">
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
        </ul>
        <h4 class="product-title"><a href="single-product.html">@product.Title</a></h4>
        <div class="product-price">
            @if (product.DiscountedPrice > 0)
            {
<span class="regular-price">@product.DiscountedPrice</span>
                        <span class="price-sale">@product.Price</span> }
                    else
                    {
<span class="price-sale">@product.Price</span>}
        </div>
    </div>
</div> <!-- single product -->}
            </div>}


                    </div> <!-- row -->
                </div> <!-- product items -->
            </div>
        </div> <!-- tab content -->
    </div> <!-- container -->
</section>